page-home {
    ion-content{
        background-color: #0099DE !important;
    }

    .col{
        margin: -5px;
        padding: 0px;
    }

    ion-card{
        border: 1px solid #000;
        border-radius: 5px !important;
    }

    ion-card-content{
        padding: 10px !important;
    }
    
    .arrow{
        width: 100px;
        height: 100px;
        svg{
            fill: #000;
        }
    }

    .rotate-up-rigth{
        transform: rotate(-40deg);        
    }
    .rotate-up-down{
        transform: rotate(40deg);        
    }

    .color-red{
        background: rgb(233, 97, 97);
    }
    .color-green{
        background: rgb(99, 223, 99);
    }
    .color-yellow{
        background: rgb(252, 252, 118);
    }

    .no-padding{
        padding: 0px;
    }

    .card-content-md {
        padding: 45px;
    }

}
