page-card {

    .card-green{
        background: green;
    }

    .card-green-up{
        background: yellow;
    }
    .card-content-md {
        padding-top: 50%;
    }

    .card-content-ios{
        padding-top: 50%;
    }

}
